# the manifest to enable streaming node for milvus cluster mode
# ref https://milvus.io/docs/release_notes.md#Streaming-Node-Beta
apiVersion: milvus.io/v1beta1
kind: Milvus
metadata:
  name: my-release
  labels:
    app: milvus
spec:
  mode: 'cluster'
  components:
    enableRollingUpdate: false 
    image: milvusdb/milvus:v2.5.11
  dependencies:
    msgStreamType: pulsar # for now only support pulsar
