name: Test Deploy With Minifest

# This workflow is triggered on any golang code, makefile, workflow changes to repository.
on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  deploy-by-manifest:
    name: Test Deploy by Manifest
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu24.04]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup KinD Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          cluster_name: kind
      - name: Deploy by manifest
        run: |
          make deploy-by-manifest
      - name: Test Webhook
        run : |
          set -ex
          kubectl create -f ./config/samples/milvus_minimum.yaml
          kubectl delete -f ./config/samples/milvus_minimum.yaml
          kubectl create -f ./config/samples/milvus_cluster_minimum.yaml
          kubectl delete -f ./config/samples/milvus_cluster_minimum.yaml
